html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

header .sp_view {
  text-align: center; }
header .sp_view h1 {
  text-align: center; }
header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; }
header h1 {
  margin-top: 20px; }
@media (max-width: 550px) {
  header .logo {
    width: 190px; }
  header .navi {
    width: 40px;
    float: right; } }
header .center #menu {
  cursor: pointer; }
header .sp_navi_btn {
  width: 180px;
  position: absolute;
  top: 125px;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; }
  header .sp_navi_btn li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_btn li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none; }
@media (min-width: 551px) {
  header .sp_view {
    display: none; }
  header #header_in {
    padding: 15px 0 10px 0; }
  header .pc_navi_li {
    margin: 50px 0 0 0;
    padding: 0; }
    header .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      header .pc_navi_li li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        padding-right: 10px; }
      header .pc_navi_li li a:hover {
        color: #b0b0b0; }
    header .pc_navi_li li.navi_toppage a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_top.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_toppage a {
        background-image: url("../images/top/navi_top@2x.png"); } }
@media (min-width: 551px) {
    header .pc_navi_li li.navi_news a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_news.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_news a {
        background-image: url("../images/top/navi_news@2x.png"); } }
@media (min-width: 551px) {
    header .pc_navi_li li.navi_company a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_company.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_company a {
        background-image: url("../images/top/navi_company@2x.png"); } }

@media (max-width: 550px) {
  header .pc_view {
    display: none; } }

.home {
  background-color: #e2ddd4;
  padding: 10px;
  margin: 0px; }

.title {
  background-color: #887f69;
  color: #ffffff;
  padding: 10px;
  font: bold; }
  .title img {
    float: right; }

.category img {
  float: right; }

.head_img {
  width: 100%; }

.product_list {
  display: flex;
  flex-wrap: wrap; }

.look_list {
  display: flex;
  flex-wrap: wrap; }

.search {
  background-color: #f9f8f6; }
  .search img {
    float: right; }

.button {
  background-color: #887f69;
  color: #ffffff;
  margin-top: 20px; }

#next {
  float: right; }

.three columns {
  background-color: #ffffff; }

h3 {
  font-size: 17px;
  color: #887f69;
  padding: 0;
  margin: 5px;
  font-weight: bold; }

.guide_title {
  color: #887f69;
  font-weight: bold; }

.pc_contain_img {
  margin: 20px 0; }

.slideshow {
  border-bottom: 1px solid #887f69; }

.border_cart_cut {
  border-top: 1px solid #bdbca2;
  border-bottom: 1px solid #bdbca2;
  margin: 10px 0 10px 0;
  padding: 15px 0 15px 0;
  width: 50%;
  display: inline-block; }

.pc_content .white {
  background-color: #ffffff;
  width: 32.77%;
  margin: 2px; }
.pc_content .shopping_guide {
  display: flex; }
  .pc_content .shopping_guide .guide {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px; }
.pc_content .white_pro {
  background-color: #ffffff;
  width: 100%;
  margin-top: 10px;
  padding: 30px 60px; }
  .pc_content .white_pro h1 {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    margin-top: 20px;
    position: relative; }
  .pc_content .white_pro .pro_number {
    display: inline-block;
    position: absolute;
    color: #b0b0b0;
    right: 32%;
    margin-top: 20px; }
  .pc_content .white_pro .border {
    border-bottom: 1px solid #bdbca2;
    margin: 0;
    overflow: hidden; }
  .pc_content .white_pro .quantity {
    padding: 15px 0;
    margin: 0;
    position: relative;
    top: -5px; }
  .pc_content .white_pro #display_img img {
    width: 70%;
    float: left; }
  .pc_content .white_pro .list_img {
    width: 30%;
    float: left; }
  .pc_content .white_pro li {
    list-style: none;
    margin-top: 0; }
  .pc_content .white_pro li img {
    width: 13.3%;
    cursor: pointer;
    float: left;
    margin: 0 0 5px 5px; }
  .pc_content .white_pro table {
    width: 100%; }
    .pc_content .white_pro table th {
      background-color: #f9f8f6;
      color: #887f69; }
    .pc_content .white_pro table td {
      color: #e2ddd4; }
    .pc_content .white_pro table th,
    .pc_content .white_pro table td {
      border: solid 1px #e2ddd4;
      text-align: center;
      padding: 10px; }
  .pc_content .white_pro .price {
    margin-left: 60px;
    margin-right: 10px;
    color: #9d1a2d; }
    .pc_content .white_pro .price .price_detail {
      font-size: 120%; }
  .pc_content .white_pro .square {
    display: inline-block;
    width: 110px;
    height: 30px;
    border: solid 2px #e2ddd4;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .pc_content .white_pro .cart_img {
    width: 40%;
    display: inline-block;
    margin-top: 10px;
    padding-left: 20px;
    float: right; }
  .pc_content .white_pro h2 {
    color: #887f69;
    font-size: 100%;
    font-weight: bold;
    margin-top: 25px; }
  .pc_content .white_pro .border_braun {
    border-bottom: 1px solid #887f69;
    margin: 10px 0 10px 0; }
  .pc_content .white_pro .table_detail {
    color: #887f69;
    width: 68%;
    font-size: 90%; }
  .pc_content .white_pro .table_title {
    width: 32%; }
  .pc_content .white_pro p {
    font-size: 85%; }

.sp_content .pc_contain_img {
  display: block;
  margin: 10px auto; }
.sp_content .white {
  background-color: #ffffff;
  width: 48.55%;
  margin: 2px; }
.sp_content .guide {
  width: auto;
  background-color: #ffffff;
  padding: 10px;
  margin: 5px; }
.sp_content .white_side {
  overflow: hidden; }
.sp_content .left_img {
  float: left;
  width: 42%;
  margin-left: 10px; }
.sp_content .side_content {
  float: left;
  width: 45%;
  font-size: 70%; }
.sp_content .white_pro {
  background-color: #ffffff;
  width: 100%;
  margin-top: 10px;
  padding: 10px; }
  .sp_content .white_pro h1 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 20px; }
  .sp_content .white_pro .pro_number {
    color: #b0b0b0; }
  .sp_content .white_pro .border {
    border-bottom: 1px solid #bdbca2;
    margin: 10px 0 10px 0; }
  .sp_content .white_pro #display_img img {
    width: 270px; }
  .sp_content .white_pro li {
    list-style: none;
    display: inline-block; }
  .sp_content .white_pro li img {
    width: 50px;
    cursor: pointer; }
  .sp_content .white_pro table {
    width: 100%; }
    .sp_content .white_pro table th {
      background-color: #f9f8f6;
      color: #887f69; }
    .sp_content .white_pro table td {
      color: #e2ddd4; }
    .sp_content .white_pro table th,
    .sp_content .white_pro table td {
      border: solid 1px #e2ddd4;
      text-align: center;
      padding: 2px 5px; }
  .sp_content .white_pro .price {
    margin-left: 60px;
    margin-right: 10px;
    color: #9d1a2d; }
    .sp_content .white_pro .price .price_detail {
      font-size: 120%; }
  .sp_content .white_pro .square {
    display: inline-block;
    width: 110px;
    height: 30px;
    border: solid 2px #e2ddd4;
    margin-left: 40px; }
  .sp_content .white_pro .cart_img {
    display: block;
    margin: 30px auto; }
  .sp_content .white_pro h2 {
    color: #887f69;
    font-size: 100%;
    font-weight: bold; }
  .sp_content .white_pro .border_braun {
    border-bottom: 1px solid #887f69;
    margin: 10px 0 10px 0; }
  .sp_content .white_pro .table_detail {
    color: #887f69;
    width: 68%;
    font-size: 90%; }
  .sp_content .white_pro .table_title {
    width: 32%; }
  .sp_content .white_pro p {
    font-size: 85%; }

.guide {
  box-sizing: border-box; }

.center {
  display: block;
  margin: auto; }

.white img {
  display: block;
  margin: auto; }

.white_side {
  background-color: #ffffff;
  margin: 2px; }
  .white_side img {
    display: block;
    margin: 10px auto; }
  .white_side .side_content {
    padding: 10px; }

@media (min-width: 551px) {
  .half_design img {
    float: left;
    margin: 0;
    display: block; }
  .half_design .side_content {
    float: right;
    margin: 0; } }
.search {
  padding: 5px;
  margin: 10px; }

.search_side {
  padding: 10px;
  margin: 10px; }

.category {
  padding: 15px;
  margin: 0px; }

.title {
  margin: 3px 0;
  font-weight: bold; }
  .title img {
    color: #887f69; }

.card {
  width: 100%; }

footer {
  clear: both; }
  footer img {
    float: right;
    margin: 40px; }
  footer .border {
    border-bottom: 1px solid #887f69;
    margin: 70px 0 40px 0; }
  footer p {
    text-align: center; }
  footer .copyright {
    color: #887f69; }
  @media (max-width: 550px) {
    footer {
      font-size: 60%; }
      footer img {
        position: relative;
        right: 23%; }
      footer .pagetop {
        text-align: center; } }

@media (max-width: 550px) {
  .pc_content {
    display: none; } }
@media (min-width: 551px) {
  .sp_content {
    display: none; } }

/*# sourceMappingURL=style.css.map */
